.main {
    width: 100%;
    height: 100%;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: url(./Componet/Dodge.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.title {
    margin-left: 50px;
    color: white;
}