.notes {
    padding: 30px 50px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.create-notes {
    width: 300px;
    height: 150px;
    padding: 10px;
    background-color: #ffffff18;
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff4d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.create-notes textarea {
    flex: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

.create-notes textarea::-webkit-input-placeholder {
    color: white;
}


.create-notes .notes-footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.create-notes span {
    color: white;
}

.create-notes button {
    text-align: right;
    color: white;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #ffffff70;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.create-notes button:hover {
    background-color: white;
    color: black;
}