.note {
    width: 300px;
    height: 150px;
    padding: 10px;
    background-color: #ffffff18;
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff4d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.note-body {
    flex: 100%;
    color: white;
    font-size: 18px;
}

.note-footer {
    padding-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: right;
}

.note-footer button {
    text-align: right;
    color: white;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #ffffff70;
    border-radius: 10px;
    cursor: pointer;
}